body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

button {
    height: 50px;
    border-radius: 5px;
    border: 1px black solid;
    cursor: pointer;
}

.game {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightgrey;
    height: 500px;
    width: 500px;
    margin-top: 50px;
    border: 2px black solid;
}

.grid-item {
    display: flex;
    border: 1px black solid;
    cursor: pointer;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    min-height: 165px;
    min-width: 165px;
}